@import '@/assets/scss/index.scss';

.card {
    @include card-cities;
}

  .divider {
      border: 0;
      height: 1px;
      width: 100%;
      background: $divider;
  }

  .view-weather {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 50px
}

.loader {
    height: 100%;
    padding-top: 200px;
    font-size: 5rem;
}

.img-loader {
  height: 150px
}

.btn-back-home {
  height: 40px;
  background: #fff;
  border-radius: 50px;
  border-style: double;
  border-color: #B4B4B4;
  cursor: pointer;
  color: $title;
  font-size:1.0rem;
  -webkit-font-smoothing: antialiased;
  transition:all 0.5s ease;
}

.btn-back-home:hover {
  height: 40px;
  color: white;
  background: #69A3FF;
  cursor: pointer;
  border-color: white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
}

@media only screen and (max-width: 855px) {
  .view-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 50px
  }
}
