@import '@/assets/scss/index.scss';

.card {
    @include card-cities;
}
  .card {
      &-header {
          height:30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
  }

  .divider {
      border: 0;
      height: 1px;
      width: 100%;
      background: $divider;
  }

  .card-title {
    padding-top: 10px;
    color: $title;
    font-size:1.0rem;
    -webkit-font-smoothing: antialiased;
  }

  .card-body  {
    height: 100%;
    display: flex;
    align-items: center;
    font-size:2rem;
    justify-content: center;
  }

  .card-footer {
      margin-top: auto;
      height: 100px;
      background-color: $card-footer-bg;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 10px;
      opacity: 70%;
  }

  .info-footer {
    display: grid;
    grid-template-columns: 125px 125px;
    font-size: 0.8rem;
    color: $title;
  }

  .update-footer {
    color: $title;
    font-size: 0.6rem;
  }

  .divider {
    border: 0;
    height: 1px;
    width: 100%;
    background: $divider;
  }   

  .view-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 50px
}

.btn-try-again {
    height: 50px;
    background: #fff;
    border-radius: 50px;
    border-style: double;
    border-color: #B4B4B4;
    cursor: pointer;
    color: $title;
    font-size:0.7rem;
    -webkit-font-smoothing: antialiased;
    transition:all 0.5s ease;
}

.btn-try-again:hover {
    height: 50px;
    color: white;
    background: #69A3FF;
    cursor: pointer;
    border-color: white;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

